<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<section>
    <div class="grid two-col">
        <div>
            <h2>주요 서비스</h2>
            <ul class="cards">
                <li class="card">전자결제(PG)</li>
                <li class="card">인증/보안</li>
                <li class="card">데이터 서비스</li>
            </ul>
        </div>
        <aside>
            <h2>공지/뉴스</h2>
            <ul class="list">
                <li>신규 서비스 출시 안내</li>
                <li>정기 점검 공지</li>
                <li>보안 업데이트 권고</li>
            </ul>
        </aside>
    </div>
</section>
</html>


